<center>
    <a href="https://jprymo.com"><img src="https://cdn.shopify.com/s/files/1/0030/4142/7525/files/JP_full_name_logo_long_red_500x.png?v=1614294102"></a>
</center><br>

<div class="container brand">
    <div class="row">
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-01.png') %>"></div>
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-03.png') %>"></div>
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-04.png') %>"></div>
    </div>

    <div class="row">
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-05.png') %>"></div>
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-06.png') %>"></div>
        <div class="col"><img width="250" src="<%= asset_path('SkullysSkateShop_Exploration-07.png') %>"></div>
    </div>
</div>

<div>
    <center>Skully's Skate Shop Brand created by <a href="https://jprymo.com/">Jeff Prymowicz</a></center>
</div>