<table data-toggle="table">
    <thead>
    <tr>
        <th>Item ID</th>
        <th>&nbsp;</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Item Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @products.all.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td>
            <% if product.thumbnail.attached? %>
                Thumbnail found
            <% else %>
            <img width="150" src="<%= asset_path('skateboard_placeholder.jpeg') %>">
            <% end %>
            </td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.product_category.name %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td>
                <%= form_with(url: "/carts/#{product.id}", method: "patch") do |form| %>
                    <%= form.hidden_field :quantity, value: 1 %>
                    <%= form.submit "Add to Cart" %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>