<div class="container">
    <div class="row">
        <div class="col">
            <h1><%= @product.name %></h1>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <% if @product.thumbnail.attached? %>
                Thumbnail found
            <% else %>
                <img width="300" src="<%= asset_path('skateboard_placeholder.jpeg') %>">
            <% end %>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">Price</div>
                    <div class="col"><%= number_to_currency(@product.price) %></div>
                </div>
            </div>
        </div>
     </div>
     <br>

     <div class="row">
        <h2>Reviews</h2>
        <% if @product.reviews.empty? %>
            <h4>This product does not have any reviews. Be the first!</h4>
        <% else %>
            <div id="reviews"></div>
            <script>
                function fetchData() {
                    console.log("Fetching updated data.");
                    const xhr = new XMLHttpRequest();
                    xhr.open("GET", "/reviews/1", true);
                    xhr.onload = () => {
                        document.getElementById("reviews").innerHTML = xhr.responseText;
                    };
                    xhr.send();
                }

                fetchData()
            </script>

        <% end %>
        
        <% if current_user %>
            <%= render 'review_form' %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %> to leave a review
        <% end %>
     </div>
</div>